In [1]:
!pip install world_bank_data --upgrade
import pandas as pd
import plotly
import plotly.offline as offline
import world_bank_data as wb

Requirement already satisfied: world_bank_data in c:\users\user\anaconda3\lib\site-packages (0.1.3)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (2.27.1)
Requirement already satisfied: cachetools in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (4.2.2)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from world_bank_data) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->world_bank_data) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->world_bank_data) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->world_bank_data) (1.26.9)

In [2]:
try:
    import piplite
    await piplite.install(['ipywidgets'])
except ImportError:
    pass

import ipywidgets as widgets

continents = widgets.Dropdown(
    options=["Africa", "Antarctica", "Asia", "Australia/Oceania", "Europe", "North America", "South America"],
    value='Europe', description='Continent:', disabled=False)

years = widgets.IntRangeSlider(
    value=[1900, 2020],
    min=1900, max=2020,step=1,
    description='Year:',
    disabled=False, continuous_update=True,
    orientation='horizontal',
    readout=True, readout_format='d')

display(continents)
display(years)

Dropdown(description='Continent:', index=4, options=('Africa', 'Antarctica', 'Asia', 'Australia/Oceania', 'Eurâ€¦

IntRangeSlider(value=(1900, 2020), description='Year:', max=2020, min=1900)

In [5]:
countries = wb.get_countries()
countries

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFW,ZI,Africa Western and Central,Aggregates,,Aggregates,Aggregates,,NaN,NaN
...,...,...,...,...,...,...,...,...,...
XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,,Aggregates,Aggregates,,NaN,NaN
YEM,YE,"Yemen, Rep.",Middle East & North Africa,Middle East & North Africa (excluding high inc...,Low income,IDA,Sana'a,44.2075,15.3520
ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.7460
ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Low income,IDA,Lusaka,28.2937,-15.3982
ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [3]:
# Same data set, indexed with the country code
population = wb.get_series('SP.POP.TOTL', id_or_value='id', simplify_index=True, mrv=1)
population

Country
AFE    694665117.0
AFW    470898870.0
ARB    444517783.0
CSS      7481631.0
CEB    101669618.0
          ...
VIR       105870.0
PSE      4922749.0
YEM     30490639.0
ZMB     18920657.0
ZWE     15092171.0
Name: SP.POP.TOTL, Length: 266, dtype: float64

In [4]:
# Aggregate region, country and population
df = countries[['region', 'name']].rename(columns={'name': 'country'}).loc[countries.region != 'Aggregates']
df['population'] = population
df

NameError: name 'countries' is not defined